.slick-slider{
    position:relative;
    display:block;
    box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.slick-list{
    position:relative;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0
}
.slick-list:focus{
    outline:none
}
.slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.slick-slider .slick-track, .slick-slider .slick-list{
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}
.slick-track{
    position:relative;
    top:0;
    left:0;
    display:block
}
.slick-track:before,.slick-track:after{
    display:table;
    content:''
}
.slick-track:after{
    clear:both
}
.slick-loading .slick-track{
    visibility:hidden
}
.slick-slide{
    display:none;
    float:left;
    height:100%;
    min-height:1px
}
[dir='rtl'] .slick-slide{
    float:right
}
.slick-slide img{
    display:block
}
.slick-slide.slick-loading img{
    display:none
}
.slick-slide.dragging img{
    pointer-events:none
}
.slick-initialized .slick-slide{
    display:block
}
.slick-loading .slick-slide{
    visibility:hidden
}
.slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.slick-arrow.slick-hidden{
    display:none
}
.text-animation{
    width: 100%;
    animation: keyframes 5s steps(1000) !important;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes keyframes {
    from {
        width: 0%;
    }
}
.content-text h2:last-of-type {
    margin-bottom: 0px;
    height: 50px;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.rounded-circle{
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
button.ant-modal-close {
    box-shadow: none;
}
.destinations-name {
    height: 100px;
}
a.col-xs-6.col-sm-4.col-md-6.col-lg-4 {
    border-bottom: 2px solid #00000017;
}
.image-detail {
    width: 100vw;
    text-align: center;
}
span.login100-form-title.p-b-43 {
    margin-top: 95px;
}
img.image {
    width: 85rem;
}
.ant-steps-item-icon {
    background: #4db74f !important;
    border-color: #4db74f !important;
}
button.ant-btn.ant-btn-primary {
    background: #4db74f !important;
    border-color: #4db74f !important;
}
.image-tour{
    width: calc(100% - 600px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}